.container {
    display: grid;
    grid-template-columns: 220px 1fr;
    height: 100vh;
    font-family: Arial, sans-serif;
}


.sidebar {
    background: #1f1f1f;
    color: white;
    padding: 20px;
}

.sidebar h2 {
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 12px 0;
    cursor: pointer;
    opacity: 0.8;
}

.sidebar ul li:hover {
    opacity: 1;
}

.main {
    display: grid;
    grid-template-rows: auto auto 1fr;
    background: #d6dce5;
}


.header {
    background: #0b4bff;
    color: white;
    text-align: center;
    padding: 20px;
}


.stats-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    padding: 20px;
    
}

.stat-card {
    background: white;
    padding: 18px;
    text-align: center;
    font-weight: bold;
    border-radius: 6px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    border-left: #0b4bff 5px solid;
}


.cards-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 0 20px 20px 20px;
    height: 20px;
   
}

.card {
    background: white;
    padding: 18px;
    border-radius: 6px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    font-size: 16px;
}


@media (max-width: 900px) {
    .stats-grid, .cards-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
    }

    .sidebar {
        grid-row: 2;
    }

    .stats-grid, .cards-grid {
        grid-template-columns: 1fr;
    }
}